<div class="container">
	<p id="notice"><%= notice %></p>

	<h1>Sales</h1>

	<table class="table">
	  <thead>
		<tr>
		  <th scope="col">Employee id</th>
		  <th scope="col">Carmodel id</th>
		</tr>
	  </thead>

	  <tbody>
		<% @sales.each do |sale| %>
		  <tr>
		  	<td scope="row"><%= sale.employee_id %></td>
		    <td><%= sale.carmodel_id %></td>
		    <% if logged_in? %>
		    	<td><%= link_to 'Show', sale %></td>
		    	<td><%= link_to 'Edit', edit_sale_path(sale) %></td>
		    	<td><%= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		    <% end %>
		  </tr>
		<% end %>
	  </tbody>
	</table>

	<br>

	<% if logged_in? %>
		<%= link_to 'New Sale', new_sale_path %>
	<% end %>
</div>
