<!DOCTYPE html>
<html>
	<div class="container">
	  	<header>
		  	<thead>
			<tr>
			  <th><%= link_to 'Home', root_path %></th>
			  <th><%= link_to 'Users', users_path %></th>
			  <th><%= link_to 'Car models', carmodels_path %></th>
			  <th><%= link_to 'Employees', employees_path %></th>
			  <th><%= link_to 'Sales', sales_path %></th>
			  <th><em><%= link_to 'Log in', login_index_path %></em></th>
			</tr>
		  </thead>
		</header>
	</div>

</html>
